body
{
	/*background-color: #404040;*/
	background: url("tlo.png");
	font-family: 'Lato', sans-serif;
}

a
{
	list-style: none;

	display: block;
}
 #demo-table {
 color: #303030;
 text-align: left;
  font-weight: bold;
 }
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/*
#logo
{
	color: white;
	margin-top: 20px;
	font-size: 44px;
	letter-spacing: 3px;
	font-weight: 900;
}
*/
#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
	border-radius: 12px 24px;
	margin-left: 60px;
	margin-right: 60px;
}

#topbar
{
	background-color: #009933;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
	border-radius: 12px 12px;
}

#topbarL
{
	float:left;
	padding: 5px;
	width: 188px;
	text-align: center;
	border-right: 2px dotted #cccccc;
}

#topbarR
{
	float: left;
	padding: 20px;
	width: 710px;
	font-size: 16px;
	text-align: justify;
	margin-top: 28px;
	margin-left: 30px;
}

#sidebar
{
	float: left;
	width: 148px;
	height: 600px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
	border-radius: 12px 12px;
}

#content
{
	float: left;
	padding: 40px;
	width: 710px;
	background-color: #dedede;
	height: 560px;
	text-align: justify;
	border-radius: 12px 12px;
	margin-left: 20px;
}

#footer
{
	margin-top: 660px;
	background-color: #303030;
	clear: both;
	color: white;
	text-align: center;
	border-top: 30px;
	padding: 20px;
	font-size: 18px;
	border-radius: 12px 12px;
}

.option
{
	text-align: center;
	float: left;
	width: 150px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
	
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:18px;
	height:25px;
	padding: 25px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}
